



<div style="width: 300px; height:300px; border: 1px solid black; padding : 10px">
    <li>bi j vay nhi</li>
    <li>{{course.name}}</li>
    <li>{{course.cost}}</li>
    <li>{{course.description}}</li>
</div>